---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Not found - Luke Berry">
  <div class="flex flex-col items-center justify-center gap-6 py-16">
    <h1 class="text-5xl max-sm:text-3xl">This page doesn't exist.</h1>
    <a
      href="/"
      class="underline decoration-sky-500 underline-offset-4 dark:decoration-sky-600"
    >
      Take me home, country road...
    </a>
  </div>
</Layout>
